<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Information Management</title>
</head>
<style>
    .my_label{
        color: red;
        font-size: 20px;
    }

    .my_secondary_label{
        color: blue;
        font-size: 20px;
    }
</style>
<body>

   


   <h1>Welcome to the city Library</h1> 
   
    <form action="/save" method="post">

     {% csrf_token %}

     <table >
        <tbody>
            <tr>
                <td><label class="my_label" >Student Name</label></td>
                <td><input type="text" name="student_name"></td>
            </tr>
            <tr>
                <td><label class="my_secondary_label" >Student Age</label></td>
                <td><input type="text" name="student_age"></td>
            </tr>
             <tr>
                <td colspan="2"><button style="background:green; display: block; margin-top: 15px; margin-bottom: 15px; width:100%; color: white;" type="submit">Save</button></td>
            </tr>
        </tbody>
     </table>

    
    </form>


   <a href="/shop">Shopping</a>
</body>
</html>